<!DOCTYPE html>
<html>

<head>
    <!-- Page Title -->
    <title>Restaurant Sign up Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- CSS for Styling -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- JavaScript for Interactivity -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>

    <!-- ADDED JavaScript -->
    <script src="javascripts/rSignupScript.js"></script>
</head>

<body class="bg-dark">
    <div class="container py-3">
        <div class="row">
            <div class="mx-auto col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="mb-0">Create Manager</h4>
                    </div>
                    <div class="card-body">
                        <form id="signupInfo" action="" role="form" method="post">
                            <div class="form-group">
                                <label for="name">Manager Name</label>
                                <input type="text" class="form-control" id="name" name="name" required="true" placeholder="Enter Manager name">
                            </div>
                            <div class="form-group">
                                <label for="email">Manager Email</label>
                                <input type="email" class="form-control" id="email" name="email" required="true"
                                    placeholder="Enter General Manager email">

                            </div>
                            <div class="form-group">
                                <label for="brancharea">Branch Area</label>
                                <input type="text" class="form-control" id="brancharea" name="brancharea" required="true"
                                    placeholder="Enter Branch Area">
                            </div>

                            <div class="form-group">
                                    <label for="regionname">Region Name</label>
                                    <select id="regionname" name="regionname" style="min-width: 100px;">
                                        <option value="North">North</option>
                                        <option value="South">South</option>
                                        <option value="East">East</option>
                                        <option value="West">West</option>
                                        <option value="Central">Central</option>
                                    </select>
                                    
                            </div>
                            <div class="form-group">
                                    <label for="address">Address</label>
                                    <input type="text" class="form-control" id="address" name="address" required="true"
                                        placeholder="Enter Address">
                            </div>

                            <div class="form-group">
                                    <label for="openinghour">Opening Hour</label>
                                    <input type="number" min="0" max="2359" class="form-control" id="openinghour" name="openinghour" required="true"
                                        placeholder="Enter Opening Hour">
                            </div>
                            <div class="form-group">
                                    <label for="closinghour">Closing Hour</label>
                                    <input type="number" min="0" max="2359" class="form-control" id="closinghour" name="closinghour" required="true"
                                        placeholder="Enter Closing Hour">
                            </div>
                            <div class="form-group">
                                    <label for="capacity">Capacity</label>
                                    <input type="text" class="form-control" id="capacity" name="capacity" required="true"
                                        placeholder="Enter capacity">
                            </div>

                        
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" name="password" required="true"
                                    placeholder="Enter your password">

                            </div>
                            
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>