<!DOCTYPE html>
<html>
  <head>
    <!-- Page Title -->
    <title>Login Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <!-- CSS for Styling -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />

    <!-- JavaScript for Interactivity -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>


  </head>
  <header>
    <h1>CS2102 Group 27: Restaurant Reservations</h1>
  </header>
  <body>
    <div class="container py-5">
      <div class="row">
          <div class="col-md-12">
              <h2 class="text-center text-white mb-4">Restaurant Login</h2>
              <div class="row">
                  <div class="col-md-6 mx-auto">
                      <!-- form card login -->
                      <div class="card rounded-0">
                          <div class="card-header">
                              <h3 class="mb-0">Login</h3>
                          </div>
                          <div class="card-body">
                              <form class="form" role="form" autocomplete="off" id="formLogin" action="login" method="POST">
                                  <div class="form-group">
                                      <label for="uname1">Email</label>
                                      <input type="email" class="form-control form-control-lg rounded-0" name="email" id="email"
                                          required=true value="cust1@gmail.com">
                                      <div class="invalid-feedback">enter email.</div>
                                  </div>
                                  <div class="form-group">
                                      <label>Password</label>
                                      <input type="password" class="form-control form-control-lg rounded-0" name="password" id="password"
                                          required=true autocomplete="new-password" value="password">
                                      <div class="invalid-feedback">Enter your password</div>
                                  </div>
                                  <button type="submit" class="btn btn-success btn-lg float-right" id="btnLogin">Login</button>
                              </form>
                              <p style="color: tomato">
                                  <% if(error == true){ %>
                                    Invalid Login Credentials.
                                  <% } %>
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </body>
  <footer>
      <h6>&copy;CS2102, AY18/19 Group 27 Restaurant Reservation</h6>
  </footer>
</html>
