<!DOCTYPE html>
<html>

<head>
    <!-- Page Title -->
    <title>General Manager Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- CSS for Styling -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- JavaScript for Interactivity -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>

    <!-- ADDED JavaScript -->

    	<!-- NAV BAR -->
	<meta charset='utf-8'>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/stylesheets/navbar.css">
	<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
	<script src="script.js"></script>

	<style>
		.alert {
			padding: 20px;
			background-color: #f44336;
			color: white;
		}

		.closebtn {
			margin-left: 15px;
			color: white;
			font-weight: bold;
			float: right;
			font-size: 22px;
			line-height: 20px;
			cursor: pointer;
			transition: 0.3s;
		}

		.closebtn:hover {
			color: black;
		}
	</style>
</head>

<header>    
    <div id='cssmenu'>
        <ul>
            <li class='active'><a href='mainGeneralManager'>Branch Details</a></li>
            <li><a href='/createManager'>Create Branch with Manager</a></li>
            <li><a href='/login'>Logout</a></li>
        </ul>       
    </div>
    <h1>Branch Details</h1>
    
</header>



<body>

    <div id='cssmenu'>
        
        
        <% if(data.length > 0){%>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Restaurant Name</th>
                    <th scope="col">Branch Area</th>
                    <th scope="col">Total Reservations</th>
                </tr>
            </thead>    
            <tbody>
                <%for(var i=0; i<data.length; i++) { %>
                    <tr id="managerWithBranch">
                        <td id="ResId"><%= data[i].restaurantname %></td>
                        <td id="custEmail"><%= data[i].brancharea %></td>
                        <td id="numDiners"><%= data[i].numreservation %></td>
                    </tr>
                <%}%>
            </tbody>
        </table>
        <%}else{%>
            <p style="color: tomato">No Managers with Branch Exist</p>
        <%}%>
    </div>
</body>
<footer>
        <h6>&copy;CS2102, AY18/19 Group 27 Restaurant Reservation</h6>
</footer>

</html>